#!/usr/bin/env bash

# Misc
########################################################################
alias ls='ls -alFG'
alias grep='grep --color=auto'
# Enable aliases to be sudo’ed
alias sudo='sudo '
# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
# Copy public key to clipboard:
alias pubkey="cat ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"
# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"
# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
# Recursively remove .DS_Store files
alias cleands="find . -type f -name '*.DS_Store' -ls -delete"
# recursively delete duplicated files that get created randomly `xxx 2`
alias cleandir="find ./ -type f -name '* [0-9]'  -ls  -delete"
# Always highlight grep search term
alias grep='grep --color=auto'

# Python
########################################################################
# Shortcut for virtual env's
alias venv='. env/bin/activate'
# Clean pyc
alias cleanpyc='find . -name "*.pyc" -type f  -ls -delete'

# Javascript
########################################################################
alias cleannode="find . -name 'node_modules' -type d -ls -prune -exec rm -rf '{}' +"

# Kubernetes
########################################################################
alias k="kubectl"
# Function to quickly change to a namespace
function kns {
         kubectl config set-context $(kubectl config current-context) --namespace="$1";
}
export -f kns
# Function to quickly change context
function kctx {
    kubectl config use-context $1
}
export -f kctx
# Alias to list contexts
alias kctxl="kubectl config get-contexts"

# Terraform
########################################################################
alias tf="terraform"

# Navigation
########################################################################
# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"
function repos {
      cd "$HOME/Documents/repos/$1/"
}
export -f repos
function csrepos {
      cd "$HOME/Documents/repos/container-solutions/$1/"
}
export -f csrepos

# GPG
########################################################################
alias gsign="gpg --encrypt --armor"
alias gpub="gpg --export -a brendankamp757@gmail.com |  pbcopy | echo '=> GPG Public key copied to pasteboard.'"

# System
########################################################################
# Find process matching input
function psgrep {
	  if [ ! -z $1 ] ; then
	      echo "Grepping for processes matching $1..."
	      ps aux | grep $1 --color=auto | grep -v grep --color=auto
    else
	      echo "!! Need name to grep for"
	  fi
}
export -f psgrep
